
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ItemsListViewModel
@foreach (var p in Model.Events)
    {
    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-faded p-1">
            <h3>@p.Header
                <a asp-controller="EHome" asp-action="Index" asp-route-category="@p.Category" asp-route-currentPage="1" class="badge badge-pill badge-primary" style="float:right">                    
                        <small>@p.Category</small>                   
                </a>
            </h3>
            <div class="card-text p-1 textDescription">@p.Description</div>
            <a class="mb-1 text-muted"> @p.Date.ToString("MMMM d, yyyy")</a>
           
        </div>
</div>
    }

<div page-model="@Model.PagingInfo" asp-controller="EHome" asp-action="Index"
     page-classes-enabled="true"
    page-class="btn" page-class-normal="btn-secondary"
    page-class-selected="btn-primary"  class="btn-group pull-right m-1">
</div>