
@{
    ViewData["Title"] = "Listing";
}

@using Spotlight.Models.Listings;

@model ListingViewModel

<div class="d-flex justify-content-between">
    <h1 class="display-4">Active Listings</h1>
    <div class="align-self-center">
        <button class="btn btn-outline-primary float-right" data-toggle="modal" data-target="#newListingModal">Add a listing</button>
    </div>
</div>

<div id="newListingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Listing</h4>
            </div>

            <div class="modal-body">
                <partial name="_AddNewListing" model="@new Listing()" />
            </div>
        </div>
    </div>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=Abq8e3aVpHpJXmLFOq2jmoAGokid1hNSzPyWwDgRFF0Z90JDGOAgy0iKyxqIAwQz-OYQTU9GjVeAhOxg">
</script>

@foreach (var l in Model.Listings)
{
    <div class="card">
        <div class="card-body">
            @if (l.TimeOfPosting.HasValue)
            {
                <p class="mb-1 text-muted card-subtitle">@l.TimeOfPosting.Value.ToString("MMMM d, yyyy")</p>
            }
            <h4 class="card-title">@l.PostHeadline</h4>
            <div class="card-text">@l.PostContent</div>

            <div class="progress mb-3 mt-3">
                <div class="progress-bar progress-bar-striped bg-success text-dark" role="progressbar" 
                     style="width: @(100*l.CurrentDonationValue / l.DonationQuote)%" 
                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">

                    @if (l.CurrentDonationValue >= l.DonationQuote)
                    {
                        <span class="ml-2 font-weight-bold">Donation quote met!</span>
                    } else
                    {
                        <span class="ml-2 font-weight-bold">$@(l.CurrentDonationValue) raised of $@(l.DonationQuote)</span>
                    }

                </div>
            </div>

            <button class="btn btn-outline-success" data-toggle="modal" data-target='#@("donation_modal_" + l.id)'>Donate</button>

            <div id='@("donation_modal_" + l.id)' class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Make A Donation</h4>
                        </div>

                        <div class="modal-body">
                            <partial name="_DonationPartial" model="@(new Donation() { listing = l })" />
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div page-model="@Model.PagingInfo" asp-action="Listings"
     page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>

